<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/home/index.css">
  <title>Document</title>
</head>



<!------ Include the above in your HEAD tag ---------->
<body>
<div>
  <section class="divided clearfix">
    <div class="container">
      <div class="row py-5">
        <div class="col col-12 col-sm-12 col-md-6 p-lg-5">
          <div class="p-5">
            <h5 class="h5 text-muted">Admin</h5>
            <h1 class="h1 mb-5">Hardware Monitorings</h1>
            <p>CPU, RAM, HDD usage</p>
          </div>
        </div>
   
        <div class="col col-12 col-sm-12 col-md-6 p-lg-5">
          <div class="p-5">
            <h1 class="h1 mb-5">Network Monitorings</h1>
            <p>Inbound, Outbound, Total</p>
          </div>

          <div class="col col-12 col-sm-12 col-md-6 p-lg-5">
            <div class="p-5">
              <h1 class="h1 mb-5">Network Modify</h1>
              <p>Auth, Terminal</p>
            </div>
        </div>
      </div>
    </div>





</body>
</html>